#services_section {
    background: #F2F2F2 url("../images/food-icons-pattern.png") repeat center top
}

.swiper-container {
    background-image: url(../images/slider-bg.png);
}

.swiper-digital .swiper-wrapper:before  {
    content: '';
    font-size: 280px;
    font-weight: 600;
    bottom: 100px;
    line-height: 200px;
    opacity: 0.1;
}

.rd-navbar--is-stuck {
    opacity: 0.9;
}

.rights {
    color: white;
}

#section_gallery .img-thumbnail-variant-3 img {
    height: 315px;
}

.swiper-slide h5 {
    text-shadow: 0 0 10px #000;
}

.img-thumbnail-variant-3 .caption {
    background-color: rgba(238, 230, 0, 0.3);
    text-shadow: 0 0 10px #000;
}

.rd-navbar-static .rd-navbar-inner, .rd-navbar-static .rd-navbar-top-panel, .rd-navbar-static .rd-navbar-bottom-panel {
    max-width: auto;
}

.rd-navbar-static .rd-navbar-items-list > li + li::before, .rd-navbar-sidebar .rd-navbar-items-list > li + li::before {
    top: 0;
    transform: none;
    left: 0;
    height: 100%;
    background: #ececee99;
}

.rd-navbar-fixed .rd-navbar-top-panel__content .rd-navbar-top-panel__left + .rd-navbar-top-panel__right {
    margin-top: 2rem;
}

.image-steak {
    max-width: 250px;
}

@media(max-width: 767px) {
    .image-steak {
        margin: 0 auto;
    }
}